/* -------   styling for mobiles (viewport width 767px and less) ------- */




body{
  font-family: tahoma, arial, sans-serif;
  font-size: 16px;
  margin: 0;
}




#wrapper{
  width: 100%;
  position: relative; /*allows #header_nav set position: fixed; */
}




#header_nav{ /* #header_nav combines header and nav to spread single bkgnd image over both them */
  background: #fff;
  background-image:url(../images/header-background.jpg);
  background-repeat: no-repeat;
  position: fixed; /* fixes when scrolling, need to add width and top as seeing below */
  z-index: 5; /* sets #header_nav to be higher over other layers (in this case for <footer> with z-index:1, it doesnt overlay when scrolled) */
  width: 100%;
  top: 0;
  /*display:block;*/
  box-shadow: 0px 3px 6px rgba(99,56,36,0.7);
}


header{
  height: 110px;
}


header #logo{
  position: absolute; /* with left and top below, sets fixed position of #logo */
  left: 20px;
  top: 5px;
}


header #tagline a{
  text-decoration: none; /*removes underline as a link */
  position: absolute;
  top: 45px;
  left: 130px;
  font-size: 30px;
  font-weight: 700; /* same as bold */
  color: #8EBC73;
  text-shadow: 2px 2px 4px #000; /* makes tagline easy to read on bright bkgrnd image */
  background-color: rgba(0,0,0,0.5); /* background dark color is transparent 50% */
  border-radius: 15px; /*rounds the corners of #tagline box */
  padding: 5px 10px;
  box-shadow: 1px 1px 2px #000;
} 




/* ----- START css that is diffrent from desktop.css for hamburger menu ----- */
nav{
  position: fixed;
  top: 5px;
  right: 5px;
  /*z-index: 10000;*/
    /*border: 3px dotted #f00;*/ /* HIDEME. used for positioning of nav box */
}


nav #menu{
position: absolute; /* places nav menu (not hamburger button) related to position of nav box, to see nav box, enable borders in nav css (see it in nav rule) */
top: 0;
right: 0px;
/*z-index: 5000;*/
height: 47px; /* width and height is set slightly more than hamburger menu button demensions, which is inside of this box */
width: 50px;
  /*border: 2px solid #fff;*/ /* HIDEME. used for positioning nav box */ 
}


nav ul{
    /*border: 2px dotted #00f;*/ /* HIDEME. used for positioning nav ul box */
  background-color: rgba(102,102,102,0.5);
  border-radius: 5px 0 0 5px;
  margin: 0;
  padding: 8px;
  padding-bottom: 15px;
  width: 150px; /* sets field behind the menu buttons, so when cursor is within this field, menu doesnt disappear, even if cursor is between the buttons, to see this field enable borders, by default (auto) this field width equals button width */
  position: absolute; /* positioning menu field with menu (navigation) buttons realtively to nav position, to be below the hamburger button, ohterwise it will appear over the hamburger button */
  top: 44px; /* position of the nav ul box must overlay nav #menu box, otherwise when cursor moves down between #menu box and buttons it will get to empty area, and #menu will disappear */
  left: 50px; /* sets the list out of viewport  for animation when :hover, otherwise set it right: 0; see below */
    /*right: 0;*/ /*HIDEME. set it if no animation needed when :hover */
  list-style-type: none; /* removes default bullet points if nav list */
  opacity: 0; /*hides menu, it will appear when :hover is set, see below */
  pointer-events: none; /*prevents appearing of menu buttons when cursor over the hidden buttons field */
}


nav:hover ul{
  opacity: 1; /* enables the hidden menu field with buttons to be visible */
  pointer-events: auto; /* prevents disapearing menu when cursor on the way from hamburger button to menu links */
  left: -85px; /* slides from right side of veiwport, initial position is set in nav ul rule above */
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* ----- END css that is diffrent from desktop.css for hamburger menu ----- */


nav ul li{
  font-size: 18px;
  font-weight: bold; /* same as font-weight: 700; */
}


nav ul li a{
  text-decoration: none; /*removes default underline of the nav links (button text) */
  color: #492211;
  display: block; /* allows to set width and heigth for nav buttons */
  width: 120px;
  height: 28px;
  padding-top: 3px;
  padding-left: 5px;
  margin-top: 15px;
  background-color: #e4f1b5;
  border-radius: 30px; /* makes corners of nav buttons to be rounded */
  box-shadow: 4px 4px 8px rgba(0,0,0,0.5); /* adds shadow to nav buttons, with opacity 50% */
}


nav ul li a:hover{
  color: #fff;
  text-shadow: 2px 2px 2px #666;
  background-color: #8EBC73;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
  transform: scale(1.09,1.09); /* when hover, makes a button bigger */
  -webkit-transition: all 0.3s; /* animates a button when it becomes bigger */
  transition: all 0.3s;
}


/* makes visual sense like pressing physical button when clicked */
nav ul li a:active{
  transform: scale(0.95,0.95);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}


/* hamburger menu button */
nav a#menulink{
  display: block; /* now can set width and height of the hamburger button */
  position: absolute; /* sets position relatively to its parent nav #menu */
  top: 0;
  right: 0;
  width: 30px;
  height: 23px;
  border: 3px solid #8EBC73;
  border-radius: 5px;
  padding: 6px;
  padding-top: 9px;
  background-color: #e4f1b5;
}

/* hamburger menu lines */
nav a#menulink #hamburger_top,
nav a#menulink #hamburger_middle,
nav a#menulink #hamburger_bottom{
  display: block;
  width: 100%;
  background-color: #8EBC73;
  height: 3px;
  margin-bottom: 5px;
}




/* ----- START hamburger menu animation ----- */
nav a#menulink:hover{
  border-radius: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav #menu:hover #menulink span{
  background-color: #f00;
}

nav #menu:hover a#menulink #hamburger_top{
  transform: translateY(9px) rotate(45deg);
}

nav #menu:hover a#menulink #hamburger_middle{
  opacity: 0;
}

nav #menu:hover a#menulink #hamburger_bottom{
  transform: translateY(-7px) rotate(-45deg);
}

nav #menu:hover a#menulink #hamburger_top,
nav #menu:hover a#menulink #hamburger_bottom{
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
/* ----- END hamburger menu animation ----- */




main{
  display: block; /*prevents <main> tag considered as inline by IE browser */
}


#content{
  color: #5F3600;
  min-height: 500px; /* makes #content have minimum 500px of height, even if there is no text */
  padding-top: 1px; /*removes space between #headernav and #content */
  padding-bottom: 1px; /*removes space between #footer and #content */
  margin-top: 115px; /* when #header_nav is fixed, need to to set margin-top for #content to see full content */
  padding-left: 15px; /* padding-left(right, top, bottom) are used instead of shorthand padding: for easier editing */
  padding-right: 15px;
}


/* ----- START css for index.html ----- */
#content p.row{
  float:left;
  width: 50%;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  height: 200px;
}


#content p.row img{
  width: 100%;
}

  
#content div.all_row{
  clear: both;
  margin-top: 30px;
  height: 1px;
  box-shadow: 0px 0px 2px #444;
  width: 98%;
  margin: 0 auto;
}

  
#content #bottom_paragraph{
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
/* ----- END css for index.html ----- */


/* ----- START css for shop_coffee.html and shop_tea.html ----- */
table#shop_table{
    /*border: 2px solid #000;*/ /* HIDEME. used for adjusting */
  border-spacing: 30px 0px; /* cell spacing (between cells), 50px horizontal, 0px vertical */
  width: 100%;
  text-align: center;
}


table#shop_table td, th{
  padding: 8px; /* cell padding, default padding for tables is 2*/
  width: 50%; 
}


table#shop_table .table_row_top{
  border-top: 1px solid #000;
}


table#shop_table th.product_name{
  background-color: #AF7B37;
  border-radius: 5px;
}


table#shop_table th.table_subname{
  border-style: none;
  font-size: 30px;
  height: 60px;
  vertical-align: bottom;
}


table#shop_table tr td a:hover img{
  opacity: 0.9;
}


table#shop_table tr td img{
  width: 100%; /* makes image to be responsive */
  max-width: 200px; /* sets maximum width that image can take on page */
}
/* ----- END css for shop_coffee.html and shop_tea.html ----- */


/* ----- START css for registrarion.html ----- */
form#registration_info fieldset{
  background-color: #eee;
  border: 1px solid #444;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #444;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}


form#registration_info legend{
  background-color: #eee;
  border-radius: 5px 5px 0px 0px;
  border-top: 1px solid #444;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
}
  

form#registration_info input[type="text"],
form#registration_info input[type="email"],
form#registration_info input[type="password"],
form#registration_info input[type="tel"]{
  width: 200px;
  border: 1px solid #444;
  border-radius: 3px;
  padding: 8px;
}


form#registration_info label{
  display: inline-block;
  width: 110px;
  text-align: right;
  margin-right: 10px;
}


form#registration_info p#form_submit_buttons{
  text-align: center;
}


form#registration_info input[type="submit"],
form#registration_info input[type="reset"]{
  border: 1px solid #444;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #444;
  background-color: #8EBC73;
  color: #fff;
  cursor: pointer;
  text-shadow: 0px 0px 2px #444;
  padding: 10px;
}

  
form#registration_info input[type="submit"]:hover,
form#registration_info input[type="reset"]:hover{
  opacity: 0.8;
}
/* ----- END css for registrarion.html ----- */




footer{
  position: relative; /*this is for #logo_bottom absolute positioning */
  z-index: 1; /* z-index of the fixed position header is 5. so footer with z-index 1 will be uderthe header when scroll, withot z-index it will be over the header */
  background-color: #EBE0E9;
  font-size: 13px; /* makes all footer text smaller in sizr then rest of the page */
  padding: 0 20px; /* adds left and right paddings 20px */
  margin-top: 50px;
}


footer #logo_bottom{
  position: absolute;
  top: -50px;
  left: 45%;
}


footer .header4{
  font-weight: normal; /* cancels bold weight of h4 */
  font-style: italic;
  font-size: 14px; /* sets size 14px, while the rest text in footer 13px */
  border-bottom: 2px solid;
  margin-top: 60px;
}


footer #footer_main .column{
  float: left; /* makes all .column to be in 1 line horizontally */
  box-sizing: border-box; /* adding paddings and borders will not effect on box size, in this case on width 33.33% */
  width: 33.33%; /* adusts equal width of 1/3 viewport for each column */
  padding: 10px;
  margin-bottom: 25px;
}


/* ----- START all 3 column css ----- */
/* start css footer 1 column */
footer ul#footer_list{
  list-style-type: none; /* remover default bullet points */
  padding: 0;
}


footer ul#footer_list li{
  margin-bottom: 15px; /* adds vertical space between footer links in column 1 */
}


footer ul#footer_list li a{
  color: #000;
}
/* end css footer 1 column */


/* start css footer 3 column */
footer #footer_col3 #email_address_subscribe{
  width: 100%; /* makes email input field responsive */
}


/* css for subscribe button */
footer #footer_col3 #send_button_subscribe{
  background-color: #8EBC73;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  height: 35px;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
}
/* end css footer 3 column */
/* ----- END all 3 column css ----- */


footer #copyright{
  clear: both;
  text-align: center;
  padding-top: 35px;
}


footer ul#socials_list{
  list-style-type: none;
  padding: 0;
  text-align: center; /* puts social icons in the center of window */
  margin-bottom: 0; /* removes white background area below the footer */
}


footer ul#socials_list li{
  display: inline-block; /* makes list (nav links) to sit in 1 line */
  margin-right: 5px; /* sets space between footer lists (social icons) */
  padding-bottom: 20px;
}




@media screen and (max-width: 660px){
  footer #logo_bottom{
    left: 42%;
  }
  
  
  footer #footer_main #footer_col3{
    clear: both;
    width: 100%;
    margin: 0 auto;
  }
  
  
  footer #footer_main #footer_col3 #footer_col3_header{
    margin-top: 20px;
  }
  
  
  footer #footer_main .column{
    width: 50%;
    margin-bottom: 0;
  }
}



/* css for index.html width 650px (break point) and less */
@media screen and (max-width: 650px){
  #content p.row{
    font-size: 25px;
    height: 200px;
  }
}






/* css for width 590px (break point) and less */
@media screen and (max-width: 635px){
  header{
    height: 86px;
  }
  
  
  header #tagline a{
    top: 34px;
    left: 110px;
    font-size: 20px;
  }
  
  
  header #logo img{
    width: 78px;
    height: 75px;
  }
  
  
  #content{
    margin-top: 90px;
  }
}



/* css for index.html width 580px (break point) and less */
@media screen and (max-width: 580px){
  #content p.row{
    font-size: 25px;
    height: 150px;
  }
  
  #content #bottom_paragraph{
    font-size: 25px;
  }
}




/* css for width 560px (break point) and less */
@media screen and (max-width: 560px){
  footer #logo_bottom{
    left: 40%;
    }
  
  
  footer #footer_main #footer_col1,
  footer #footer_main #footer_col2{
    clear: both;
    width: 100%;
    margin: 0 auto;
    }
  
  
  footer #footer_main #footer_col2 #footer_col2_header{
    margin-top: 20px;
  }
}





/* css for width 500px (break point) and less */
@media screen and (max-width: 500px){
  table#shop_table{
    border-spacing: 10px 0px;
  }
  
  
  table#shop_table th.table_subname{
    font-size: 20px;
  }
}




/* css for width 460px (break point) and less */
@media screen and (max-width: 510px){
  header #tagline a{
    display: none;
  }
}




/* css for width 430px (break point) and less */
@media screen and (max-width: 430px){
  form#registration_info label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 30px;
  }


form#registration_info input[type="text"],
form#registration_info input[type="email"],
form#registration_info input[type="password"],
form#registration_info input[type="tel"]{
  width: 90%;
  }
}




/* css for width 400px (break point) and less */
@media screen and (max-width: 400px){
  footer #logo_bottom{
    left: 35%;
  }
}

/* css for index.html width 400px (break point) and less */
@media screen and (max-width: 400px){
  #content p.row{
    font-size: 16px;
    height: 100px;
  }
  
  #content #bottom_paragraph{
    font-size: 16px;
  }
}




