/* ----- styling for printers ----- */



body{
  font-family: Arial, sans-serif;
  font-size: 16px;
}

#wrapper{
  width: 100%;
}

header{
  height: 100px;
}

#wrapper #header_nav nav,
#wrapper #header_nav header #tagline{
  display: none;
}

#content{
  min-height: 500px;
}

footer{
  height: 150px;
}

footer #logo_bottom,
footer #footer_col1,
footer #footer_col3,
footer #copyright_socials{
  display: none;
}